<a class="patreon-banner" href="https://www.patreon.com/HouseFinesseClub" target="_blank" rel="noopener noreferrer" aria-label="Join the House Finesse VIP Club on Patreon">
  <img class="patreon-banner__logo" src="{{ '/img/design/finesse-f.svg' | url }}" alt="" width="96" height="61" loading="lazy"/>
  <span class="patreon-banner__text">
    <span class="patreon-banner__eyebrow">House Finesse VIP Club</span>
    <span class="patreon-banner__message">Get early access to our mixes on Patreon</span>
  </span>
  <span class="patreon-banner__cta">
    <img class="patreon-banner__mark" src="{{ '/img/design/patreon-mark-white.png' | url }}" alt="" width="28" height="28" loading="lazy"/>
    Join on Patreon
  </span>
</a>
