<p>
    <a href="https://podcasts.apple.com/gb/podcast/house-finesse/id355833875" title="Follow on Apple Podcasts" class="tdbc-button tdbc-icon-apple">
        <img src="/img/icons/apple-podcasts-color.svg" alt="Apple Podcasts" height="32">
        <span>Apple</span>
    </a>
    <a href="https://www.youtube.com/housefinesse" title="Follow on Youtube Music" class="tdbc-button tdbc-icon-youtube">
        <img src="/img/icons/youtube-color.svg" alt="Youtube Music" height="32">
        <span>Youtube</span>
    </a>
    <a href="https://open.spotify.com/show/3qwmnnogIeaiXG5HSKKdwU?si=_m_raNIDQk6kSoJn9_5efg" title="Follow on Spotify" class="tdbc-button tdbc-icon-spotify">
        <img src="/img/icons/spotify-color.svg" alt="Spotify" height="32">
        <span>Spotify</span>
    </a>
    <a href="https://www.amazon.com/House-Finesse/dp/B08JJRH1Z2" title="Follow on Amazon Music" class="tdbc-button tdbc-icon-amazon">
        <img src="/img/icons/amazon-music-color.svg" alt="Amazon Music" height="32">
        <span>Amazon</span>
    </a>
    <a href="https://tunein.com/podcasts/Music-Podcasts/House-Finesse-p1674150/" title="Follow on TuneIn" class="tdbc-button tdbc-icon-tunein">
        <img src="/img/icons/tunein-color.svg" alt="TuneIn" height="32">
        <span>Tunein</span>
    </a>
    {% if followPage %}
    <a href="https://truefans.fm/house-finesse" title="Follow on Truefans" class="tdbc-button tdbc-icon-truefans">
        <img src="/img/icons/truefans-user-color.svg" alt="Truefans" height="32">
        <span>Truefans</span>
    </a>
    <a href="https://fountain.fm/show/jXEukzHtm2S2ZBdwRhLg" title="Follow on Fountain" class="tdbc-button tdbc-icon-fountain">
        <img src="/img/icons/fountain-app-color.png" alt="Fountain" height="32">
        <span>Fountain</span>
    </a>
    {% endif %}
    <a href="https://housefinesse.com/feed/podcast/" title="RSS podcast feed" class="tdbc-button tdbc-icon-rss">
        <img src="/img/icons/rss-color.svg" alt="RSS" height="32">
        <span>RSS</span>
    </a>
</p>
