<p>
    <a href="https://podcasts.apple.com/gb/podcast/house-finesse/id355833875" class="tdbc-button tdbc-icon-apple">
        <img src="/img/icons/apple-podcasts-color.svg" alt="Apple Podcasts" height="32">
        <span>Apple Podcasts</span>
    </a>
    <a href="https://www.youtube.com/housefinesse" class="tdbc-button tdbc-icon-youtube">
        <img src="/img/icons/youtube-color.svg" alt="Youtube" height="32">
        <span>Youtube Music</spam>
    </a>
    <a href="https://truefans.fm/house-finesse" class="tdbc-button tdbc-icon-truefans">
        <img src="/img/icons/truefans-user-color.svg" alt="Truefans" height="32">
        <span>Truefans</span>
    </a>
    <a href="https://www.amazon.com/House-Finesse/dp/B08JJRH1Z2" class="tdbc-button tdbc-icon-amazon">
        <img src="/img/icons/amazon-music-color.svg" alt="Amazon Music" height="32">
        <span>Amazon Music</spam>
    </a>
    <a href="https://tunein.com/podcasts/Music-Podcasts/House-Finesse-p1674150/" class="tdbc-button tdbc-icon-tunein">
        <img src="/img/icons/tunein-color.svg" alt="TuneIn" height="32">
        <span>TuneIn</spam>
    </a>
    <a href="https://fountain.fm/show/jXEukzHtm2S2ZBdwRhLg" class="tdbc-button tdbc-icon-fountain">
        <img src="/img/icons/fountain-app-color.png" alt="Fountain" height="32">
        <span>Fountain</spam>
    </a>

    <small style="text-align:center; display:block;">
        or just use
        <a href="https://housefinesse.com/feed/podcast/">our RSS feed</a>
    </small>
</p>