<div class="tdbc-shop-carousel">
    <h4>Wear our merch with pride.
        <a href="https://housefinesse.teemill.com/">Shop now!</a>
    </h3>
    <a href="https://housefinesse.teemill.com/product/everybody-loves-house-music/"><img
            src="/img/merch/Everybody-Loves-House-Music-tshirt-Disco77.jpg"
            alt="Disco77 modelling our Everybody Loves House Music t-shirt">
    </a>
    <a href="https://housefinesse.teemill.com/product/put-em-high-push-it-high/"><img
            src="/img/merch/Eat-Sleep-Mix-Repeat-tshirt-Sarah-Jae.jpeg"
            alt="Sarah Jae modelling our Eat Sleep Mix Repeat t-shirt">
    </a>
    <a href="https://housefinesse.teemill.com/product/put-em-high-push-it-high/"><img src="/img/merch/Put-Em-High-Push-It-High-tshirt-LYP.jpg" alt="LYP modelling our Put Em High, Push It High t-shirt">
    </a>
    <a href="https://housefinesse.teemill.com/product/eat-sleep-mix-repeat-t-shirt/"><img
            src="/img/merch/House-Music-All-Day-Long-tshirt-OnePhatDJ.jpg"
            alt="One Phat DJ modelling our House Music All Day Long t-shirt">
    </a>
</div>