{% set currentUrl = page.url %}
<nav class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/" {% if currentUrl === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }}</a>
    <ul role="list" class="tdbc-sitenav__navlist tdbc-list-unstyled">
      <li>
        <a href="/newsletter" title="Newsletter">Newsletter</a>
      </li>
      <li>
        <a href="https://housefinesse.teemill.com/" target="_blank" rel="noopener noreferrer">Shop</a>
      </li>
      <li>
        <a href="/follow" title="Follow House Finesse" class="tdbc-button tdbc-button-outlined">Follow</a>
      </li>
    </ul>
  </nav>