{% set currentUrl = page.url %}
<nav class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/" {% if currentUrl === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }}</a>
    <ul role="list" class="tdbc-sitenav__navlist tdbc-list-unstyled">
      <li>
        <a href="/shows" title="Our show archives">Shows</a>
      </li>
      <li>
        <a href="/dj" title="Our featured DJs">DJs</a>
      </li>
      <li>
        <a href="/club" title="Subscribe to our VIP Club">VIP Club</a>
      </li>
      <li>
        <a href="https://housefinesse.teemill.com/" target="_blank" rel="noopener noreferrer">Shop</a>
      </li>
      <li>
        <a href="/follow" title="Follow House Finesse" class="tdbc-button tdbc-button-outlined">Follow</a>
      </li>
    </ul>
  </div>
</nav>
