---
layout: base.njk

---

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    <div class="tdbc-section--padded">
      {{ content | safe }}
    </div>
  </article>
</main>