---
layout: base.njk

---

{% include 'sitenav.njk' %}
<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ description }}
    </h2>
    {% include 'podcast_apps.njk' %}
    <div>
      {% if(author !== undefined ) %}
        <p class="tdbc-sticker">
          {{ author }}
        </p>
      {% endif %}
      <p class="tdbc-sticker">
        <datetime>{{ page.date.toUTCString().substring(5,17) }}</datetime>
      </p>
      {% if(redirectFrom !== undefined ) %}
        <p class="tdbc-sticker">
          <a href="{{ redirectFrom }}" rel="canonical nofollow">{{ redirectFrom }}</a>
        </p>
      {% endif %}
      {% if(episodeNumber !== undefined ) %}
        <p class="tdbc-sticker">
          {{ '#HF' + episodeNumber }}
        </p>
        <p>
          <a href={{ 'https://housefinesse.com/hf' + episodeNumber }}>{{ 'housefinesse.com/hf' + episodeNumber }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    <div class="tdbc-media">
      {% if(coverImage!=='') %}
        <img src="/img/cover-images/{{ coverImage }}" alt="{{ title }}"/>
      {% endif %}
      {% if(enclosure!==undefined) %}
        <div class="tdbc-audio-player">
          <audio controls style="width:100%">
            <source src="{{ enclosure.split(" ")[0] }}" type="{{ enclosure.split(" ")[2] }}">
              Your browser does not support the audio tag.
            </audio>
          </div>
        {% endif %}
      </div>
      <div class="tdbc-section--padded">
        {{ content | safe }}
      </div>
      <dl>
        <dt>Category:</dt>
        <dd>{{ categories }}</dd>
        <dt>Tags:</dt>
        <dd>
          {% for tag in tags %}
            {% if tag !== 'pages' %}
              {{ tag }},
            {% endif %}
          {% endfor %}
        </dd>
      </dl>
    </article>
  </main>