@use "theme" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tdbc-color("background");
  background-image: url("/img/design/HF24-background.jpg");
  background-repeat: no-repeat;
  background-position: center;  
  background-attachment: fixed;
  background-size: cover;
  color: $tdbc-color-body;
  font-family: $tdbc-font-family;
}

main,
main.tdbc-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

footer {
  margin-top: auto;
  background-color: #042f2e;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .tdbc-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  a:link,
  a:visited {
    color: #FFF;
  }

  .footer-vip-club {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;

    @media (min-width: 80ch) {
      grid-template-columns: 1fr 2fr;
      text-align: left;
    }

    h3 {
      margin: 0;
    }
  }

  .tdbc-shop-carousel {
    display: flex;
    padding: 10px 0;
    margin-bottom: 2rem;
    h4, img {
      display: flexbox;
      height: 120px;
    }
    img {
      margin: 0 10px;
      width: 120px;
      object-fit: cover;
    }
  }

  .footer-credits {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto auto;

    @media (min-width: 80ch) {
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto;
      align-items: center;
    }

    &__copyright {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 80ch) {
        justify-content: flex-start;
      }
    }

    &__socials {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__website {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 80ch) {
        justify-content: flex-end;
      }
    }
  }
}

article {
  max-width: 80ch;

  > img {
    margin-right: auto;
    margin-left: auto;
  }
}

.tdbc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.tdbc-column-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
}

ul.tdbc-column-container {
  padding-left: 0;
}

.snapshot-grid {
  direction: ltr;

  > li {
    direction: ltr;
  }

  @media (min-width: 80ch) {
    direction: rtl;
  }
}

.tdbc-section {
  width: 100%;

  &--padded {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.tdbc-hero {
  display: grid;
  min-height: 30vh;
  place-content: center;
  padding-top: 8vh;
  padding-bottom: 0;
  text-align: center;
}

.tdbc-row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 80ch) {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }

  &--center-content {
    justify-content: center;
  }

  &--center-alignitems {
    align-items: center;
  }
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid tdbc-color("secondary");
}

.tdbc-media {
  background: rgba(0,0,0,0.8);
  padding: 1rem;
}

.profile-pic {
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #FFF;
  max-width: 100px;
}
