@use "sass:math";
@use "theme" as *;

#tdbc-siteid {
  font-family: 'Kalnia', serif;
  font-size: $tdbc-h3-font-size;
  text-decoration: none;  
  background-image: url(/img/design/finesse-f.svg);
  background-repeat: no-repeat;
  background-position: left middle;
  padding-left: 85px;
}

.tdbc-sitenav {
  background-color: tdbc-color("primary");

  &__container,
  &__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 120ch;
    margin: 0 auto;
    padding: 1rem;
    gap: 0.5rem;
    text-align: center;
  }

  &__navlist {
    justify-content: center;

    li + li {
      margin-left: 1rem;
    }
  }

  @media (min-width: 60ch) {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: initial;
    }

    &__navlist {
      justify-content: flex-start;
    }
  }

  &,
  a:not(.tdbc-button) {
    color: tdbc-color("light");
  }

  a:not(.tdbc-button):focus {
    border-radius: math.div($tdbc-border-radius, 2);
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 1px 2px tdbc-color("light");
  }
}
