.tdbc-sticker {
    background: #000;
    color: #FFF;
    display: inline-block;
    transform: rotate(3deg);
    width: 12rem;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;

    &:nth-child(even) {
        transform: rotate(-2deg);
    }
    
    p {
        margin: 0.25rem 0;
    }
    a {
        color: #FFF; 
    }
}